* {
    margin: 0px; 
    padding: 0px;
    font-family: "Raleway", sans-serif;
    line-height: 2.0;
    color: #333;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: #333;
    /* opacity: 0.75; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
    margin: 0;
    list-style-type: none;
    z-index: 1;
    font-family: "Handlee", cursive;
}
.navbar > li {
    flex: 1;
}
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
	color: black;
}

.header {
    /* display: block; */
    position: relative;
    text-align: center;
    /* background-color: #e3a9fa; */
    width: 100%;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    /* font-family: "Handlee", cursive; */
    font-weight: bold;
    color: #333;
    width: 100%;
}
#title {
    font-size: 2vw;
}

.about {
    display: block;
    background-color: #ecc4ff;
    /* background-color: rgb(200, 187, 187); */
    /* background-color: #ddd; */
    position: relative;
    padding: 5%;
    width: 100%;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;    
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.year {
    font-size: 75%;
}

.projects {
    display: flex;
    background-color: #fef0e1;
    position: relative;
    flex-flow: column;
    width: 100%;
    padding: 5%;
}
.project-list {
    display: flex;
    overflow: hidden;
    text-align: center;
	width: 100%; /* Full width */
    margin: 0;
    list-style: none;
}
.project-list > li {
    flex: 1;
}
.project-1 {
    background-color: rgb(172, 255, 234);
    padding: 5%;
}
.project-2 {
    background-color: rgb(250, 193, 220);
    padding: 5%;
}
.project-3 {
    background-color: rgb(255, 223, 135);
    padding: 5%;
}

.contact {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    padding: 5%;
    background-color: #ecc4ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
    margin: 0;
    z-index: 1;
    color: white;
}

body {
	margin: 0px;
}
/* Anchor offset */
.destination {
	position: relative;
	z-index: -1;
	left: 0;
	margin-top: -5%;
}
/* a {
    font-size: 2vw;
} */