* {
    font-family: "Raleway", sans-serif;
    color: #59595c;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #ffc08c;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    color: white;
}

@media screen and (min-width: 600px) {
    nav li {
        border-bottom: none;
    }

    nav li {
        display: inline-block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffc08c;
}

.header {

}
