* {
    color: #532D3D;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

html {
    background-color: #BFD4E7;
}

body.disable-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.heading {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    /* min-width: 100vw; */
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    /* padding-left: 10vw; */
    /* padding-right: 10vw; */
    padding: 30px 10vw 30px 10vw;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name,
#bars {
    font-size: 20px;
    margin: 10px 15px 10px 15px;
}

/* .icon {
    width: 30px;
    cursor: pointer;
} */

.nav-icon {
    width: 36px;
    cursor: pointer;
}

.nav-icon:after,
.nav-icon:before {
    background-color: #532D3D;
    border-radius: 2px;
    content: '';
    display: block;
    height: 3px;
    transition: all .2s ease-in-out;
}

.nav-icon:before {
    margin-bottom: 10px;
}

.nav-icon.close:before {
    transform: translateY(6.5px) rotate(45deg);
}

.nav-icon.close:after {
    transform: translateY(-6.5px) rotate(-45deg);
}

/* Navigation overlay */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #BFD4E7, #FFEFF5);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 50%;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    transform: translate(0%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
}

.overlay-content a {
    text-decoration: none;
    text-align: center;
    padding: 12px;
}

.contact-icons {
    align-self: center;
    padding: 12px;
}

/* Transparent to solid navbar */

#name {
    transition: color 1s ease 0s;
}

#bars {
    transition: filter 1s ease 0s;
}

#name.solid {
    color: #FFFFFF;
    transition: color 1s ease 0s;
}

#bars.solid {
    filter: invert(99%) sepia(44%) saturate(14%) hue-rotate(309deg) brightness(104%) contrast(100%);
    transition: filter 1s ease 0s;
}

.navbar {
    transition: background-color 1s ease 0s;
}

.navbar.solid {
    background-color: #532D3D;
    transition: background-color 1s ease 0s;
    /* box-shadow: 0 0 4px grey; */
}

/* @media screen and (max-width: 600px) {
    nav li {
        display: list-item;
    }
    #bars {
        display: block;
        margin: 10px;
        cursor: pointer;
    }
    #links {
        display: none;
    }
} */

.container {
    display: flex;
    flex-direction: column;
}

/* Home */

#home {
    padding: 0;
}

.home-text {
    /* padding: 20px; */
    /* color: #0869c9; */
    font-size: 20px;
    text-align: center;
    /* justify-self: center; */
    /* align-self: center; */
    /* background: none; */
    /* background: rgba(255, 255, 255, 0.8); */
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
}

.image-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-container img {
    object-fit: cover;
    min-width: 100vw;
    height: 100%;
}

/* About */

#about p {
    font-size: 18px;
}

/* Projects */

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: #FFFFFF;
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    margin: 0px 15px 30px 15px;
    border-radius: 8px;
    /* padding: 30px; */
    cursor: pointer;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.project-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F6EBF3;
    z-index: 2;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    overflow-y: scroll;

    text-align: start;
}

.project-overlay.show {
    visibility: visible;
    opacity: 1;
}

.project-overlay img {
    width: 100%;
}

.description {
    padding: 20px;
}

.description hr {
    margin: 20px 0px;
}

.title {
    font-size: 20px;
    margin: 10px 0px;
}

.tag {
    margin: 10px 0px;
    text-transform: uppercase;
    opacity: 0.5;
}

.button {
    margin-top: 10px;
}

.button a {
    text-decoration: none;
    color: #BD005E;
    /* font-size: 16px; */
}

.button i {
    color: #BD005E;
    vertical-align: middle;
}

.arrow-icon {
    cursor: pointer;
    position: absolute;
    width: 36px;
    top: 30px;
    left: 10px;
    z-index: 3;
}

.arrow-icon div {
    background-color: #532D3D;
    border-radius: 2px;
    content: '';
    display: block;
    height: 3px;
    margin-left: 10px;
    width: 30px;
}

.arrow-icon:before {
    background-color: #532D3D;
    border-radius: 2px;
    content: '';
    display: block;
    height: 3px;
    margin-left: 8px;
    width: 20px;
    transform: translateY(10px) rotate(45deg);
}

.arrow-icon:after {
    background-color: #532D3D;
    border-radius: 2px;
    content: '';
    display: block;
    height: 3px;
    margin-left: 8px;
    width: 20px;
    transform: translateY(-10px) rotate(-45deg);
}

/* Skills */

.skills-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
    .skills-list {
        justify-content: space-evenly;
        flex-direction: row;
    }
}

.skills-list ul {
    list-style-position: inside;
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}

.skills-list ul ul {
    margin-left: 30px;
}

.list-heading {
    font-size: 20px;
    margin: 10px 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #BFD4E7;
    margin: 15px 10px;
    align-items: center;
    font-size: 18px;
    /* justify-content: center; */
    /* font-size: 20px; */
}

.footer-icons {
    font-size: 24px;
    margin-top: 10px;
}

.footer-icons a {
    cursor: pointer;
    text-decoration: none;
}