* {
    font-family: 'Raleway', sans-serif;
    color: #59595c;
    background-color: #ffc08c;
    margin: 0px;
    padding: 0px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    color: #fff;
}

nav a:hover {
    background-color: orange;
}

@media screen and (min-width: 600px) {
    nav li {
        display: inline-block;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
}

.header {
    position: relative;
}

.name {
    padding: 20px;
    color: #0869c9;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background: none;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.header img {
    width: 100%;
}

.section {
    padding: 100px;
}

#projects {
    align-items: center;
}

.gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.column img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-container {
    padding: 10px;
}

.image-container {
    position: relative;
}

.text {
    color: #fff;
    background-color: #0869c9;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0869c9;
}

.image-container:hover .overlay {
    opacity: 0.8;
}


footer {
    color: #fff;
}
